/*Fonts*/

@font-face {
  font-family: 'Hero';
  src: url('../assets/fonts/Hero-Light.woff') format('woff'), url('../assets/fonts/Hero-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato.woff') format('woff'), url('../assets/fonts/Lato.woff2') format('woff2');
}
